<%# <%= form_with do |form| %>
<%# <form accept-charset="UTF-8" action="/" method="post">
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" placeholder="First name "/>
</form>

<% end %>
<%# 

<form action="users#create" method="POST" accept-charset="UTF-8">
  <%# <label for="fname">First name:</label> %>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
   <label for="lname">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
